*{
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body img{
    border-radius: 10px;
}
.aboutus{
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/02-07-2020/pooch-care-liberty-demo_Free/1396504601/web/assets/images/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 80px;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 15px 0;
}
.aboutus::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: 0.5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.aboutus h2.title{
    color: #ffffff;
    font-weight: 650;
    font-size: 45px;
}
li{
    list-style-type: none;
}
.aboutus .aboutus-nav li{
    display: inline-block;
    font-size: 16px;
    font-weight: 380;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
}
a, a:hover{
    text-decoration: none;
    color: #189A46;
    cursor: pointer;
}
.aboutus .aboutus-nav li span.fa{
    font-size: 11px;
    vertical-align: 2px;
}
.content-info-in{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}
.about-title{
    color: #f53626;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-title{
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 550;
    line-height: 45px;
}
.content-info-in h4{
    font-size: 22px;
    line-height: 30px;
    opacity: 0.9;
}
p{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif; 
}
a.read{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04 ;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
a.read:hover{
    color: #189A46;
}
body a, button, .btn{
    cursor: pointer !important;
}
a {
    color: #189A46;
}

/* Blog Single */
.blog-single .blog-single1 .text{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
li.design{
    display: inline-block;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 600;
    background: #189A46;
}
.blog-single .blog-single1 .blog-list{
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.blog-single .blog-single1 ul.blog-list li{
    display: inline-block;
    margin-right: 20px;
}
.blog-single .blog-single1 ul.blog-list p{
    margin: 0;
    font-size: 16px;
}
.blog-single .blog-single1 ul.blog-list span.fa{
    color: #000c04;
}
.blog-single .blog-single1 .text-bg-image{
    max-width: 1100px;
    margin: 0 auto;
}
.blog-single .blog-single1 p.text2-text{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}
.blog-single .blog-single1 .single-post-content-1{
    max-width: 900px;
    margin: 0 auto;
}
.blog-single .blog-single1 p.text2-text2{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0 0;

}
.blog-single .blog-single2 blockquote{
    max-width: 900px;
    margin: 0 auto;

    padding-left: 45px;
    background: ;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}
.blog-single .blog-single2 blockquote q{
    color: #000c04;
    font-size: 28px;
    line-height: 40px;
}
.blog-single .blog-single2 .text-styles-top-33 q:before{
    font-size: 50px;
    color: #f53626;
    line-height: 0.8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
}
.blockquote-footer{
    display: block;
    font-size: 80%;
    color: #6c757d;
}
h1, h2, h3, h4, h5, h6{
    color: #000c04;
    font-weight: 600;
}
.blog-single .blog-single3 h4.text-head-text-9 a {
    font-size: 28px;
    line-height: 40px;
    color: #000c04;
    margin-bottom: 25px;
    font-weight: 600;
    display: inline-block;
}
.blog-single .blog-single3 h5.sub-head-text-9{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    font-style: italic;
}
.blog-single .blog-single3 p.sub-para{
    margin-top: 20px;
}
.social-share-blog ul.social li{
    display: inline-block;
    margin: 0;
    margin-right: 7px;
    margin-top: 5px;
}
.social-share-blog ul.social h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000c04;
}
.social-share-blog ul.social li{
    display: inline-block;
    margin: 0;
    margin-right: 7px;
    margin-top: 5px;
}
.social-share-blog ul.social a{
    margin-left: inherit;
    color: #9ba0ac;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}
.social-share-blog ul.social a.facebook span.fa-brands{
    color: #3b5998;
}
.social-share-blog ul.social a.twitter span.fa-brands{
    color: #1da1f2;
}
.social-share-blog ul.social a.instagram span.fa-brands{
    color: #c13584;
}
.blog-single .blog-single3 nav.post-navigation{
    border-top: 1px solid rgba(147,107,232,0.05);
    border-bottom: 1px solid rgba(147,107,232,0.05);
}
.blog-single .blog-single3 span.nav-title{
    color: #999;
    margin-bottom: 10px;
    display: inline-block;
}
.blog-single .blog-single3 a.posts-view-left {
    display: grid;
    grid-template-columns: 23% 72%;
    grid-gap: 4%;
    align-items: center;
}
.blog-single .blog-single3 a.posts-view-right {
    display: grid;
    grid-template-columns: 72% 23%;
    grid-gap: 4%;
    align-items: center;
}
.blog-single .blog-single3 a.posts-view label{
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000c04;
}
.blog-single .blog-single3 a.posts-view label:hover{
    color: #189A46;
}
.blog-single .blog-single4 .text-styles-top-30{
    max-width: 900px;
    margin: 0 auto;
}
.blog-single h3.title-blog{
    font-size: 28px;
    line-height: 40px;
    color: #000c04;
    font-weight: 600;
    display: inline-block;
}
.media{
    align-items: flex-start;
}
.blog-single .blog-single4 .media{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    grid-gap: 20px;
}
.blog-single .blog-single4 .img-circle{
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
}
.blog-single .blog-single4 .img-circle img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-single .blog-single4 .text-styles-30_sur h5{
    font-size: 20px;
    line-height: 25px;
    color: #000c04;
    font-weight: 600;
}
.blog-single .blog-single4 .text-styles-30_sur span{
    font-size: 15px;
    line-height: 20px;
    color: #ababab;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 15px;
}
.blog-single .blog-single4 a.reply{
    color: #189A46;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 600;
}
.blog-single .blog-single4 a.reply:hover{
    text-decoration: underline;
}
.blog-single .blog-single5 .horizontal-align {
    max-width: 900px;
    margin: 0 auto;
}
.blog-card{
    position: relative;
    border: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    transition: 0.3 ease;
}
.blog-card-header img {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-card-img-bottom{
    width: 100%;
}
.blog-details{
    background: #ffffff;
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
a.blog-desc{
    display: block;
    color: #000c04;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 6px;
    text-transform: capitalize;
}
a.blog-desc:hover{
    color: #189A46;
}
.blog-card:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease;
}
.author{
    color: #999;
}
.author a:hover{
    color: #f53626;
}
.author a {
    color: #000c04;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
li.info-item{
    display:inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #888;
}
.blog-card:hover .blog-card-body{
box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 9%);
}
.blog-single .blog-single6 .content-29-form{
    max-width: 900px;
    margin: 0 auto;
}
.blog-single .blog-single6 .forms-29-form{
    margin: 0px auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
.blog-single .blog-single6 .forms-29-form input, .blog-single .blog-single6 form textarea{
    outline: none;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    border-radius: 6px;
    min-height: 60px;
    padding: 13px 20px;
    border: 1px solid #f7f6f9;
    border: 1px solid rgba(147,107,232,0.05);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #293043;
    background-color: rgba(147,107,232,0.05);
}
.blog-single .blog-single6 form textarea{
    height: 150px;
    padding: 15px 20px;
}
.btn:hover{
    text-decoration: none;
}
.btn-primary{
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}
.btn-primary:hover{
    color: #fff;
    background-color: #116E32;
    border-color: #116E32;
}





/* Footer */
.footer .footer-content{
    background: #111111 ;
}
.footer h6.footer-title{
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
ul{
    margin: 0;
    padding: 0;
}
.footer .footer-list ul li{
    list-style: none;
    margin-bottom: 5px;
}
b, strong{
    font-weight: bolder;
}
.footer .footer-list ul li p, .footer .footer-list ul li a{
    color:#696969 ;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
}
body a{
    cursor: pointer;
}
.footer ul.footer-icon{
    list-style: none;
    overflow: hidden;
    margin-top: 3px;
    padding: 0;
}
.footer ul.footer-icon li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

.mid-footer-content{
    border-top: 1px solid rgba(103,99,99,0.14)
}
.copy-footer-content a{
    color: #f53626;
    opacity: 0.9;
}
.footer .footer-list ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}
.footer #totop{
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 48px;
    height: 48px;
    background: #189A46;
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: 0.3s ease-out;
}