*{
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body img{
    border-radius: 10px;
}
.aboutus{
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/02-07-2020/pooch-care-liberty-demo_Free/1396504601/web/assets/images/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 80px;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 15px 0;
}
.aboutus::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: 0.5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.aboutus h2.title{
    color: #ffffff;
    font-weight: 650;
    font-size: 45px;
}
li{
    list-style-type: none;
}
.aboutus .aboutus-nav li{
    display: inline-block;
    font-size: 16px;
    font-weight: 380;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
}
a, a:hover{
    text-decoration: none;
    color: #189A46;
    cursor: pointer;
}
.aboutus .aboutus-nav li span.fa{
    font-size: 11px;
    vertical-align: 2px;
}
.content-info-in{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}
.about-title{
    color: #f53626;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-title{
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 550;
    line-height: 45px;
}
.content-info-in h4{
    font-size: 22px;
    line-height: 30px;
    opacity: 0.9;
}
p{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif; 
}
a.read{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04 ;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
a.read:hover{
    color: #189A46;
}
body a, button, .btn{
    cursor: pointer !important;
}
a {
    color: #189A46;
}

/* BLOG POST */
.blog-post{
    background-color: rgba(147,107,232,0.05);
}
.blog-card{
    position: relative;
    border: none;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    transition: 0.3 ease;
}
.blog-card-header img {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-card-img-bottom{
    width: 100%;
}
.blog-details{
    background: #ffffff;
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
}
a.blog-desc{
    display: block;
    color: #000c04;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 6px;
    text-transform: capitalize;
}
a.blog-desc:hover{
    color: #189A46;
}
.blog-card:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease;
}
.author{
    color: #999;
}
.author a:hover{
    color: #f53626;
}
.author a {
    color: #000c04;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
li.info-item{
    display:inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #888;
}
span.page-numbers{
    display: block;
    text-align: center;
    border: 0;
    color: #189A46;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    padding: 0;
}
.page-numbers{
    font-size: 20px;
    font-weight: 600;
    color: #000c04;
    width: 20px;
    display: block;
    text-align: center;
}
.page-post li{
    display: inline-block;
    margin: 0 5px;;
}
a.next span.fa{
    color: #000c04;
    font-size: 20px;
    font-weight: 600;
    width: 20px;
    display: block;
}
/* Footer */
.footer .footer-content{
    background: #111111 ;
}
.footer h6.footer-title{
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
ul{
    margin: 0;
    padding: 0;
}
.footer .footer-list ul li{
    list-style: none;
    margin-bottom: 5px;
}
b, strong{
    font-weight: bolder;
}
.footer .footer-list ul li p, .footer .footer-list ul li a{
    color:#696969 ;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
}
body a{
    cursor: pointer;
}
.footer ul.footer-icon{
    list-style: none;
    overflow: hidden;
    margin-top: 3px;
    padding: 0;
}
.footer ul.footer-icon li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

.mid-footer-content{
    border-top: 1px solid rgba(103,99,99,0.14)
}
.copy-footer-content a{
    color: #f53626;
    opacity: 0.9;
}
.footer .footer-list ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}
.footer #totop{
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 48px;
    height: 48px;
    background: #189A46;
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: 0.3s ease-out;
}