*{
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body img{
    border-radius: 10px;
}
.aboutus{
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/02-07-2020/pooch-care-liberty-demo_Free/1396504601/web/assets/images/banner4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 80px;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 15px 0;
}
.aboutus::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: 0.5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.aboutus h2.title{
    color: #ffffff;
    font-weight: 650;
    font-size: 45px;
}
li{
    list-style-type: none;
}
.aboutus .aboutus-nav li{
    display: inline-block;
    font-size: 16px;
    font-weight: 380;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
}
a, a:hover{
    text-decoration: none;
    color: #189A46;
    cursor: pointer;
}
.aboutus .aboutus-nav li span.fa{
    font-size: 11px;
    vertical-align: 2px;
}
.content-info-in{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}
.about-title{
    color: #f53626;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text-title{
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 550;
    line-height: 45px;
}
.content-info-in h4{
    font-size: 22px;
    line-height: 30px;
    opacity: 0.9;
}
p{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif; 
}
a.read{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189A46;
    color: #000c04 ;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}
a.read:hover{
    color: #189A46;
}

/* CONTACT */

.contact-grid{
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
}
.detail-grid{
    display: grid;
}
.twice-two{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.contact-content form input, .contact-content form textarea{
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #252b33;
    padding: 0px 16px;
    border: 1px solid rgba(147,107,232,0.05);
    background: rgba(147,107,232,0.05);
}
.twice {
    margin-bottom: 20px;
}
.contact-content form textarea{
    resize: none;
    min-height: 140px;
    padding: 12px 16px;
}
.contact .btn-style{
    float: right;
}
.btn-style{
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px 35px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
}
.btn-primary{
    color: #ffffff;
    background-color: #189A46;
    border-color: #189A46;
}
.contact-detail-right{
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
}
.contact-detail span.fa{
    font-size: 22px;
    display: block;
    margin-top: 3px;
}
.text-primary{
    color: #1db954 !important;
}
.contact-detail h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 10px;
}
.contact-detail p, .contact-detail a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-top: 3px;
}
.margin-up{
    margin-top: 2.5rem;
}
.map-iframe iframe{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}


/* Footer */
.footer .footer-content{
    background: #111111 ;
}
.footer h6.footer-title{
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
ul{
    margin: 0;
    padding: 0;
}
.footer .footer-list ul li{
    list-style: none;
    margin-bottom: 5px;
}
b, strong{
    font-weight: bolder;
}
.footer .footer-list ul li p, .footer .footer-list ul li a{
    color:#696969 ;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
}
body a{
    cursor: pointer;
}
.footer ul.footer-icon{
    list-style: none;
    overflow: hidden;
    margin-top: 3px;
    padding: 0;
}
.footer ul.footer-icon li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

.mid-footer-content{
    border-top: 1px solid rgba(103,99,99,0.14)
}
.copy-footer-content a{
    color: #f53626;
    opacity: 0.9;
}
.footer .footer-list ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}
.footer #totop{
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 48px;
    height: 48px;
    background: #189A46;
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: 0.3s ease-out;
}